<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monika Sharma</title>
</head>
<body>
<div>
     <!-- navigation section of the website to add links to other pages -->
     <nav>
        <!-- Unordered List Added -->
        <ul>
            <li><a href="index.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <!-- main content of the web page -->
    <main>

    </main>

    <!-- footer section for the copyright and links to social media  -->
    <footer>

    </footer>

</div>
</body>
</html>